<div class="about-container">
    <%= image_tag "profile-image.png", :alt => 'profile image', class: "profile-image" %>
    <div>
        <h2>Hello. My name is Petr Janík.</h2>
        <p>I'm a student of applied informatics at Masaryk University in Brno.</p>
        <p>I love coding, especially in Ruby and JavaScript.</p>
    </div>
</div>
