<div class="contact-container">
    <h2>Contact me</h2>
    <div>
        <ul class="contact-icons">
            <li class="contact-icon"><%= link_to image_tag("social/github.svg", :alt => 'github icon', :title =>
                'GitHub'),
                "https://github.com/petr7555" %>
            </li>
            <li class="contact-icon"><%= link_to image_tag("social/linkedin.svg", :alt => 'linkedin icon', :title =>
                'LinkedIn'),
                "https://www.linkedin.com/in/petr-janik" %>
            </li>
            <li class="contact-icon"><%= link_to image_tag("social/twitter.svg", :alt => 'twitter icon', :title =>
                'Twitter'), "https://twitter.com/petajanik"
                %>
            </li>
        </ul>
    </div>
</div>
