<main>
    <div class="jumbotron__img"></div>
    <div class="jumbotron__content">
        <h1 class="main-text">
            Hello. My name is <span class="name--highlighted">Petr Janík</span> and I have creative ideas and build
            websites.
        </h1>
        <%= link_to 'View my Work', "/portfolio", :class => "btn" %>
    </div>
</main>
